.first{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
}
.in , .card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.card{
    margin-top: 23px;
}
.textArea{
    background-color: black;
    color: white;
    padding: 12px;
}
button{
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 16px;
    border-radius: 2px;
    margin-top: 8px;
    border: 2px solid white;
    margin: 8px 12px 8px 12px;
}
.align{
    text-align: left;
    letter-spacing: 2px;
    border: 2px solid rgb(255, 230, 0);
    padding: 10px;
    margin-top: 9px;
    border-radius: 12px;
}